/* Estilo geral do corpo */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #343a40;
}

/* Container principal */
.container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
}

.modal-header {
    background-color: #343a40; /* Cor de fundo do cabeçalho */
    color: #ffffff; /* Cor do texto */
    border-bottom: none;
}

.modal-footer {
    background-color: #343a40; /* Cor do rodapé igual ao cabeçalho */
    padding: 10px 15px; /* Espaçamento interno */
    border-top: none; /* Remove borda superior */
    display: flex; /* Usa Flexbox para organizar conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.modal-footer p {
    margin: 0; /* Remove as margens padrão do parágrafo */
    color: #ffffff; /* Garante que o texto seja branco */
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
}



/* Botões */
.btn-primary {
    background-color: #343a40; /* Cor de destaque */
    border-color: #343a40;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #596877; /* Cor no hover */
    border-color: #596877;
}

.modal-header {
    background-color: #343a40;
    color: #fff;
    border-bottom: none;
}

.modal-body img {
    border-radius: 10px;
    margin-bottom: 15px;
}

.modal-body .btn-success {
    margin-top: 15px;
}


/* Rodapé */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #343a40;
    color: #ffffff;
    margin-top: 50px;
}

/* Classe para imagens quadradas */
.quadrado {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

/* Estilo para apresentação de imagens */
.fotos img, .principal {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
}
.fotos img:hover, .principal:hover {
    transform: scale(1.2);
}

/* Estilo para elementos do carrossel */
.carousel-caption {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 5px 5px;
    color: #000;
    position: absolute;
    bottom: 5px;
    text-align: center;
    box-sizing: border-box;

}

.carousel-caption p {
    margin: 0; /* Remove margens padrão */
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    line-height: 1.5; /* Ajusta o espaçamento entre linhas */
}



.carousel-inner img {
    width: auto;
    max-height: 80vh;
    margin: 0 auto;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Para imagens pequenas no carrossel */
.imagem-pequena + .carousel-caption {
    position: relative;
    margin-top: 5px;
    bottom: auto;
    transform: none;
}

/* Estilos para a seção COP 30 */
.cop30 {
    background-color: #e9ecef;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    min-height: 350px;
}
.cop30 img {
    position: absolute;
    right: 3%;
    bottom: 3%;
    height: calc(100% - 40px);
    width: auto;
    z-index: 0;
}

/* Botão flutuante do WhatsApp */
.whatsapp-float {
    position: fixed; /* Posição fixa, para flutuar na tela */
    bottom: 20px; /* Distância da parte inferior */
    right: 20px; /* Distância da lateral direita */
    z-index: 1050; /* Garante que fique acima do carrossel e do modal */
    pointer-events: auto; /* Permite cliques no botão */
}

.whatsapp-float img {
    width: 40px; /* Largura do ícone */
    height: 40px; /* Altura do ícone */
    cursor: pointer; /* Adiciona aparência de clique */
}


/* Responsividade */
@media (max-width: 768px) {
    .cop30 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: auto;
    }
    .cop30 img {
        position: relative;
        height: auto;
        width: 100%;
        margin-top: 20px;
    }
}
